.container {
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column;
  gap: 32px;
  padding: 5px;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  align-content: center;
  font-size: 24px;
  color: black;
}

.form {
  display: flex;
  background-color: floralwhite;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px 5px;
}

/* Label.module.css */
.formLabel {
  color: var(--black-color);
  box-sizing: border-box;
}

/* Input.module.css */
.Input {
  width: 280px;
  margin-bottom: 20px;
  background: white;
  border: var(--none-border);
  outline: none;
  padding: 10px;
  font-size: var(--s-font-size);
  color: var(--black-color);
  text-shadow: var(--text-shadow);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: var(--text-shadow);
  transition: border 0.3s ease-in-out;
}

.Input:focus,
.Input:hover {
  border: 1.65px solid pink;
}

/* Button.module.css */
.btnSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  gap: 10px;
  color: rgba(18, 18, 18, 0.708);
  padding: 10px 5%;
  background: pink;
  border: none;
  border-radius: 30px;
  width: 100%;
}

.btnSubmit:focus,
.btnSubmit:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  background-color: rgb(220, 154, 187);
  color: white;
  border: 1px pink;
}

.formLabel {
  display: flex;
  margin-bottom: 3px;
}

