/* styles.module.css */
.listWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    border: none;
    padding: 10px 10px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    gap: 80px;
}

.paragraf {
    color: black;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 10px;
    color: rgba(18, 18, 18, 0.708);;
    padding: 10px 5%;
    background: pink;
    border: none;
    border-radius: 30px;
}

.Button:focus,
.Button:hover {
    background: pink;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2);
}